{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.2/examples/sign-in/signin.css">
{% endblock %}
{% block content %}
<body class="text-center">
    <main class="form-signin w-100 m-auto">
        <form method="post">{% csrf_token %}
            <h1 class="h1 mb-3 fw-normal">CSVDummy</h1>
            <h4 class="h4 mb-3 fw-normal">Please sign in</h4>
            {{ form.as_p }}
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted">© 2017–2023</p>
        </form>
    </main>
</body>
{% endblock %}